__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env
.env.*
!.env.example

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

data/chunks/*
data/index/*
data/embeddings/*
data/metadata/*
data/documents/cafef_news.jsonl
!data/chunks/.gitkeep
!data/index/.gitkeep
!data/embeddings/.gitkeep
!data/metadata/.gitkeep

data/training/*
!data/training/.gitkeep

storage_rag/cafef_news/


*.log
*.tmp
*.bak
Thumbs.db
.DS_Store
