fastapi
numpy
uvicorn
python-dotenv
pydantic
langchain
langchain-core
langchain-chroma
langchain-community
langchain-text-splitters
langchain-google-genai
chromadb
pdfplumber
aiohttp
matplotlib
pandas
pytest
pytest-asyncio
python-multipart
google-generativeai
python-dotenv
vnstock==3.4.2
pytz